@font-face{
  font-family:Nova;
  font-weight:bold;
  src: url("Fonts/NOVABOLD.otf") format("opentype");
}



body{
    padding:0;
    margin:0px;
    background-color:#555 !important;
}

h1{
  color: white !important;
  font-family:Nova;
}










/* canvas developer stuff */
#canvas {
  
  display:block;
}
.dropdown-toggle{
  width: 100%;
}
.dropdown-menu{
  width:100%;
  text-align: center !important; 
}